
.env
.env.local
.env.development
.env.production


node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log



.DS_Store
Thumbs.db
.vscode/
.idea/



dist/
build/
.out/
.vercel/


coverage/


*.tgz
*.swp
